@model UserMessageModel
@{
    ViewData["Title"] = "Envoyer un message";
    var message = ViewData["TooLong"]?.ToString() == "True" ? "Votre message doit faire moins de 500 caractères" : "";

}

<h1>Partagez-nous votre avis</h1>

<h4>Que pensez vous de notre site, avez-vous quelque chose sur le cœur?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control">Entrez votre commentaire ici!</textarea>
                <span asp-validation-for="Message" class="text-danger">@message</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Partager" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>