@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3 class="mytitle">
       LA CHLAMYDIA , C’EST QUOI ?
    </h3>
    <div class="description">
        <p>La chlamydia est une infection sexuellement transmissible due à la bactérie chlamydia trachomatis.</p>

       <p> La chlamydia reste l’IST la plus fréquente en Belgique avec une hausse constante du nombre de cas diagnostiqués depuis 2013.</p>

        <p> À l’heure actuelle, les personnes les plus touchées sont les 15 - 34 ans.</p>

    </div>
    <h3 class="mytitle">
        PREVENTION
    </h3>
    <div class="description">
        <p>
            Pour se protéger de la chlamydia, il faut utiliser un préservatif (interne ou externe) ou un carré de latex.</p>

        <p> Les préservatifs permettent de réduire les risque d’exposition mais n’offrent pas une protection totale car la chlamydia peut se transmettre lors de caresses sexuelles et lors de pratique du sexe oral.</p>

        <p> La chlamydia est souvent sans symptômes : il faut donc te protéger et protéger ton ou ta partenaire après une prise de risque !</p >

    </div>
}
