@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3 class="mytitle">
        l'HEPATITE, C’EST QUOI ?
    </h3>
    <div class="description">
        L'hépatite B est une maladie infectieuse d'origine virale qui se traduit par une inflammation, plus ou moins détectable, au niveau du foie.

Le virus de l'hépatite B (VHB) est un virus extrêmement contagieux qui se contracte par le contact avec le sang et d'autres liquides corporels tels que le sperme, les sécrétions vaginales et le lait maternel de personnes infectées.

La grande majorité (90 %) des personnes infectées éliminent rapidement le virus : soit l'hépatite reste sans symptômes, soit elle se déclare sous forme d'une hépatite aiguë.

Pour les 10 % restant, l'hépatite B devient chronique et peut entraîner des complications graves comme la cirrhose ou le cancer du foie à l'origine du décès d'un quart de ces personnes. L'hépatite B est la cause de 80 % des cancers du foie. Chaque année, insuffisance hépatique, cirrhose et cancer du foie sont responsables de près de 600 000 morts dans le monde.
    </div>
    <h3 class="mytitle">
        PREVENTION
    </h3>
    <div class="description">
       <h5>Hépatite B</h5>
       <ul>
            <li>Un test de dépistage du virus de l’hépatite B est proposé à toutes les femmes enceintes, dès leur première consultation prénatale. Il sera effectué au plus tard durant l’accouchement. L’infection peut être mortelle pour les femmes enceintes et pour les bébés dont la mère est infectée.</li>

            <li>Les personnes à haut risque sont invitées à passer un test de dépistage, puisque la maladie peut demeurer silencieuse pendant quelques années.   </li>

            <li>Le test de dépistage est recommandé à toutes les personnes infectées par le virus de l’immunodéficience humaine (VIH).
            </li>
        </ul>
      
    </div>
}
