@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3 class="mytitle">
        l'HEPATITE, C’EST QUOI ?
    </h3>
    <div class="description">
        Parmi les infections sexuellement transmissibles,
        le grand méchant loup – celle que tout le monde connaît et que beaucoup craignent,
        c’est le VIH. Son nom signifie Virus de l’Immunodéficience Humaine,
        car il attaque le système immunitaire des personnes porteuses et le détruit petit à petit.
        Le Sida (Syndrome d’Immunodéficience Acquise) est un stade avancé du VIH.
    </div>
    <h3 class="mytitle">
        PREVENTION
    </h3>
    <div class="description">
       <h5>Hépatite B</h5>
       <ul>
            <li>Un test de dépistage du virus de l’hépatite B est proposé à toutes les femmes enceintes, dès leur première consultation prénatale. Il sera effectué au plus tard durant l’accouchement. L’infection peut être mortelle pour les femmes enceintes et pour les bébés dont la mère est infectée.</li>

            <li>Les personnes à haut risque sont invitées à passer un test de dépistage, puisque la maladie peut demeurer silencieuse pendant quelques années.   </li>

            <li>Le test de dépistage est recommandé à toutes les personnes infectées par le virus de l’immunodéficience humaine (VIH).
            </li>
        </ul>
      
    </div>
}
