@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h2 class="mytitle">Informations sur les 4 maladies</h2>
    <a onclick="href='/Info/Sida'"><div class="box" id="idcolor1" >SIDA/VIH</div></a>
    <a onclick="href='/Info/Hepatite'"> <div class="box" id="idcolor2">HEPATITE</div></a>
    <a onclick="href='/Info/Papillomavirus'"> <div class="box" id="idcolor3">PAPILLOMAVIRUS</div></a>
     <a onclick="href='/Info/Chlamydia'"><div class="box" id="idcolor4">CHLAMYDIA</div></a>
}
