@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h3 class="mytitle">
        Le Papillomavirus c'est quoi ?
    </h3>
    <div class="description">
       Les Papilloma Virus Humains ou PVH sont des virus très communs. Il en existe plus de 150 types : HPV1, 14, 16, 18, etc. Les papillomavirus peuvent infecter la peau et les muqueuses1 et être responsables de lésions bénignes ou malignes.

L'infection humaine par les PVH est responsable le plus souvent de lésions bénignes comme :
<ul>
            <h4>Sur le plan cutané</h4>
            <li>Les verrues vulgaires et plantaires.</li>

            <h4>
                Sur le plan muqueux</h4>
            <li>Les condylomes, également appelées verrues génitales.</li>
</ul>

Cependant les PVH peuvent être associés à la survenue de certains cancers :
<ul>
                 <h4>Sur le plan cutané</h4>
            <li>La survenue d’un cancer de la peau lié à l’épidermodysplasie verruciforme, une maladie rare et génétique, due au PVH 5 et 8.</li>

                     <h4>Sur le plan muqueux</h4>
            <li>La survenue de carcinomes anogénitaux, et notamment d’un cancer du col de l’utérus en cas de contamination par le PVH 16 ou 18.</li>
    </ul>
    </div>
    <h3 class="mytitle">
        PREVENTION
    </h3>
    <div class="description">
      Pour prévenir les verrues plantaires, on recommande de porter des chaussons en plastique dans les lieux publics susceptibles d’être contaminés par le papillomavirus (HPV), comme les piscines.

Comme pour toutes les infections sexuellement transmissibles, la prévention des condylomes anogénitaux repose sur le port du préservatif lors des rapports sexuels.
        <ul>
            <li>Préservatifs</li>
            <li>Le vaccin quadrivalent : il protège contre quatre types viraux dont deux oncogènes (HPV 16 et 18) et deux non oncogènes (6 et 11)</li>
            <li>Un vaccin bivalent : il protège uniquement contre les HPV 16 et 18</li>
            <li>Dépistage</li>
          
        </ul>
    </div>
}
