@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    <h3 class="mytitle">
        LE VIH/SIDA, C’EST QUOI ?
    </h3>
    <div class="description">
        Parmi les infections sexuellement transmissibles,
        le grand méchant loup – celle que tout le monde connaît et que beaucoup craignent,
        c’est le VIH. Son nom signifie Virus de l’Immunodéficience Humaine, 
        car il attaque le système immunitaire des personnes porteuses et le détruit petit à petit. 
        Le Sida (Syndrome d’Immunodéficience Acquise) est un stade avancé du VIH.
    </div>
    <h3 class="mytitle">
        PREVENTION
    </h3>
    <div class="description">
        Un seul rapport sexuel avec une personne infectée suffit pour transmettre le virus VIH.

            Le risque de contamination par voie sexuelle est aggravé :
        <ul>
            <li>lorsque les muqueuses comportent des lésions ;</li>
            <li>au cours du premier rapport sexuel ;</li>
            <li>lors des règles de la femme ;</li>
            <li>si l’un des partenaires est porteur d’une infection sexuellement transmissible (IST) ;</li>
            <li>si le rapport sexuel s’accompagne de violence, ce qui peut provoquer des lésions des muqueuses, même si elles sont invisibles.</li>
        </ul>
    </div>
}
