@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <!-- <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>--> 
    <h1>Notre Serious Game</h1>
    <h5>
        <p>Notre Serious Game codée entièrement pendant la nuit de l'info 2022 du 01/12/2022 au 02/12/2022 permet de mettre en avant les différentes sortent des maladies
        sexuelles.</p>
        <p>Le joueur va pouvoir s'informer sur les maladies à travers différents personnage et passera des quizz avec d'autres personnes pour tester ses connaissances.</p>
        <p>C'est un bon moyen d'apprendre facilement les 4 maladies transmissibles où vous retrouverez les informations dans l'onglet Information.</p>
    </h5>
    <a onclick="href='/Game'"><div class="box" id="idcolor1">JOUER</div></a>
    <a onclick="href='/Info'"><div class="box" id="idcolor2">Informations</div></a>
</div>
