@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <!-- <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>--> 
    <h1 class="mytitle">Stilex-Huminex</h1>
    <h5>
        L'application web sur laquelle vous vous trouvez est la participation de l'équipe Stilex-Huminex à la Nuit de l'Info édition 2022.
    </h5>
    <h5>
        Elle contient notamment notre Serious Game, codé entièrement pendant la Nuit de l'Info 2022 du 01/12/2022 au 02/12/2022, dans lequel l'internaute intrigué peut incarné un personnage non genré explorant un nouveau monde.
    </h5>
    <h5>
        Cet individu sera amené à faire de nombreuses rencontres tout en apprenant de nouvelles choses et pourra faire preuve de ses connaissances à de maintes reprises.
    </h5>
    <h5>
        Les informations utilisées dans le jeu peuvent être retrouvées sur la page <a onclick="href='/Info'">Informations</a> ainsi que sur les liens crédités à cet endroit même.
    </h5>
    <a onclick="href='/Game'"><div class="box" id="idcolor1">JOUER</div></a>
    <a onclick="href='/Info'"><div class="box" id="idcolor2">Informations</div></a>
    <a onclick="href='/Home/Sources'"><div class="box" id="idcolor3">Sources et plus</div></a>
</div>
