html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mytitle {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #07158a;
    padding: 30px;
    border-radius: 30px;
}
.description {
  margin: 30px;
  padding:10px;
}


.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#idcolor1 {
   
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
}
#idcolor1::before {
    border: 6px solid rgba(129,230,217,1);
    box-shadow: 0 0 60px rgba(129,230,217,1);
}
#idcolor1::after {
    border: 6px solid #4FD1C5;
}
#idcolor2 {
   
    background: #ff0000;
    background: linear-gradient(90deg, #861da0 0%, #ac0cd4 100%);
}
#idcolor2::before {
    border: 6px solid #861da0;
    box-shadow: 0 0 60px #861da0;
}

#idcolor2::after {
    border: 6px solid #861da0;
}

#idcolor3 {
    
    background: #2541ae;
    background: linear-gradient(90deg, #3e5bcc 0%, #4161df 100%);
}

#idcolor3::before {
    border: 6px solid #0e2b9b;
    box-shadow: 0 0 60px #0e2b9b;
}

#idcolor3::after {
    border: 6px solid #0e2b9b;
}

#idcolor4 {
   
    background: #e22e93;
    background: linear-gradient(90deg, #f94eb8 0%,#bb1b7f 100%);
}

#idcolor4::before {
    border: 6px solid #e22e93;
    box-shadow: 0 0 60px #e22e93;
}

#idcolor4::after {
    border: 6px solid #8a1b9a;
}
a:hover{
    color:darkblue;
}
.box {
    color: #232323;
    margin: 100px;
    text-align: center;
    min-width: 100px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.box::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.box:hover, .box:focus {
    color: #313133;
    transform: translateY(-6px);
}

.box:hover::before, .box:focus::before {
    opacity: 1;
}
.box::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
  
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}
.box:hover::after, .box:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.oneText{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.sender {
    text-anchor:middle;
    background-color: #2541ae;
    height:50px;
    padding:20px;
    color: white;
    margin: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    flex-shrink: 0;
    border: 2px solid black;
    border-radius: 1000px;
    max-width:  15vw;
    overflow:hidden;
}

.message {
    padding: 10px;
    flex-grow: 1;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}